.topicos{
    background: var(--azul-degrade);
    padding: 1em .5em;
    border-top: 1em solid var(--branco);
}
.topicos__titulo{
    color: var(--branco);
    font-weight: 300;
    text-align: center;
    margin: 1em 0 1.5em 0;
}
.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}
.topicos__item{
    background-color: var(--laranja);
    font-weight: 700;
    padding: 1em;
    margin: 0.3em;
}
.topicos__link{
    text-decoration: none;
    color: var(--branco);
}

@media screen and (min-width: 1024px){
    .topicos{
        padding: 1em 2em 1.5em 2em;;
    }
    .topicos__titulo{
        font-size: 24px;
    }
    .topicos__item{
        font-size: 24px;
        margin: 0.5em;
    }
}

@media screen and (min-width: 1728px){
    .topicos{
        padding: 3em 30vw;
    }
    .topicos__titulo{
        font-size: 32px;
    }
}